<!DOCTYPE html>
<html >
<head>
        {% load staticfiles %}

        {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
   

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  

    <script src="{% static 'jquery-hex-colorpicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-hex-colorpicker.css' %}" />
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    -->
</head>
    <script type="text/javascript">
        jQuery(function(){
            jQuery("#color-picker1").hexColorPicker();
        
        jQuery(".color-picker").hexColorPicker({
		"container":"dialog",
    });
});
    </script>


<body>
   
    <h1> Welcom you can upload the sketch picture.</h1>
    <br>
   
<form method="POST" enctype="multipart/form-data">
<label for="fcol">first color</label> 
    <input type="text" name="ficol" class="color-picker"/>
    <label for="scol">second color</label> 
    <input type="text" name="scol" class="color-picker"/>
    <label for="tcol">third color</label> 
    <input type="text" name="tcol" class="color-picker"/>
    <label for="tcol">fourth color</label> 
    <input type="text" name="focol" class="color-picker"/>
    {% csrf_token %}
   <input type="file" name="document">
   <br><br>
    <button type="submit" class="btn btn-info">Upload Picture</button>
{% if url %}
    <img src='{{ url }}'  width='300px' height='300px'>
   
{% endif %}
{% if colorimg %}
<img src='{{ colorimg }}'  width='300px' height='300px'>
{% endif %}

</form>

</body>
</html>